@font-face {
  font-family: Inter-Regular;
  src: url(../fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: Inter-SemiBold;
  src: url(../fonts/static/Inter-SemiBold.ttf);
}
@font-face {
  font-family: Inter-Bold;
  src: url(../fonts/static/Inter-Bold.ttf);
}
:root {
  --Primary-color: hsl(75, 94%, 57%);
  --Neutral-White: hsl(0, 0%, 100%);
  --Neutral-Grey: hsl(0, 0%, 20%);
  --Neutral-darkGrey: hsl(0, 0%, 12%);
  --Neutral-offBlack: hsl(0, 0%, 8%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  background-color: var(--Neutral-offBlack);
}
main {
  width: 100%;
  padding: 18px;
  text-align: center;
  color: var(--Neutral-White);
}
main .main-section {
  background-color: var(--Neutral-darkGrey);
  width: 30%;
  margin: 16px auto;
  padding: 18px 32px;
  font-size: 14px;
  border-radius: 12px;
}
.intro-section {
  line-height: 2rem;
}
.intro-section .avatar {
  height: 94px;
  width: 94px;
  border-radius: 50%;
  border: 2px solid var(--Primary-color);
}
.intro-section h1 {
  font-size: 24px;
  font-family: Inter-Bold;
}
.intro-section .location {
  color: var(--Primary-color);
  font-family: Inter-SemiBold;
}
.intro-section .profession {
  font-family: Inter-Regular;
  margin: 8px 0 0;
}
.social-media-section {
  margin-top: 18px;
}
.social-media-section a {
  display: block;
  background-color: var(--Neutral-Grey);
  margin: 12px 0;
  padding: 12px 0;
  border-radius: 8px;
  text-decoration: none;
  color: var(--Neutral-White);
  background-color: var(--Neutral-Grey);
  font-family: Inter-SemiBold;
}
.social-media-section a:active,
.social-media-section a:hover {
  background-color: var(--Primary-color);
  color: var(--Neutral-offBlack);
  cursor: pointer;
  transition: 0.6s;
}
footer {
  margin: 26px 0 0;
}
.attribution {
  font-size: 11px;
  font-family: Inter-Regular;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* on large and medium laptop screen  */
@media (min-width: 1020px) {
  main .main-section {
    width: 30%;
  }
}
@media (max-width: 1019px) and (min-width: 769px) {
  main .main-section {
    width: 40%;
  }
  main .main-section {
    font-size: 12px;
  }
}
/* on tablet screen  */
@media (max-width: 768px) and (min-width: 426px) {
  main .main-section {
    width: 80%;
  }
  main .main-section {
    font-size: 12px;
  }
}
/* on large mobile screen  */
@media (max-width: 425px) and (min-width: 376px) {
  main .main-section {
    width: 98%;
  }
  main .main-section {
    font-size: 12px;
  }
}
/* on medium and small mobile screen  */
@media (max-width: 375px) {
  main .main-section {
    width: 98%;
  }
  main .main-section {
    font-size: 12px;
  }
}
